/*
* Global Font Definitions
*/
@font-face {
  font-family: 'LoResBold';
  src: url('/fonts/LoRes12OT-Bold.woff2') format('woff2'),
  url('/fonts/LoRes12OT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*
* Global Font Definitions
*/
@font-face {
  font-family: 'LoResRegular';
  src: url('/fonts/LoRes12OT-Regular.woff2') format('woff2'),
  url('/fonts/LoRes12OT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*
* Base Styles
*/
body {
  font-family: "LoResRegular", sans-serif;
  background: #222;
  color: #eee;
  margin: 0;
  padding: 0;
}

body.active-modal {
  overflow-y: hidden;
}

/*
* Modal Backdrop and Overlay
*/
.modal {
  display: flex;
  inset: 0;
  z-index: 99;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.btn-primary {
  font-size: 18px;
  background-color: #2563eb;
  color: #fff;
  border-radius: 30px;
  padding: 10px 32px;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.05);
  transition: background-color 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}


/*
* Modal Intro Container
*/
.modal-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.modal-intro-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
  font-family: 'LoResBold', sans-serif;
}
/*
* Info Box (White, Rectangular Intro)
*/
.modal-info-box {
  font-size: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: #374151;
  width: 100%;
  max-width: 768px;
  margin-bottom: 25px;
  align-items: center;
}

/*
* Modal Window (Game Styles)
*/
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3a3a3a;
  border: 4px solid #fff;
  box-shadow: 0 0 0 6px #000;
  padding: 12px 30px;
  width: 800px;
  max-width: 90vw;
  border-radius: 0;
  font-size: 18px;
  line-height: 1.4;
  overflow: visible;
  z-index: 100;
  height: auto;
}

.modal-window h1 {
  font-family: "LoResBold", sans-serif;
  font-size: 28px;
  padding-bottom: 15px;
  text-align: center;
  line-height: 1;
}

.modal-window h3 {
  font-family: "LoResBold", sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}

.modal-content {
  font-size: 20px;
  padding: 15px 5px;
  align-items: center;
}

.modal-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.modal-content li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4a4a4a;
  border: 2px solid #222;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.modal-content li label {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 20px;
}

.modal-content input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #37a820;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 12px;
}

.modal-content li span {
  font-size: 18px;
  margin-left: 12px;
}

.modal-content button {
  display: block;
  margin: auto;
  padding: 8px 16px;
  font-size: 20px;
  background: #2563eb;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  width: 80%;
}
.modal-content button:hover {
  background: #1d4ed8;
}

/*
* Close Button (X)
*/
.close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 0px 0px 6px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  border: none;
  cursor: pointer;
  font-size: 42px;
  line-height: 1;
  color: #fff;
}

/*
* Draggable Data Item Box
*/
.draggable-element {
  cursor: grab;
  padding: 20px;
  background-color: #f3f4f6;
  color: #047857;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s ease-in-out;
}

.draggable-element:hover {
  background-color: #fef3c7;
}


/*
* Shared Feedback Popup Container
*/
.feedback-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  text-align: center;
  color: #222222;
}

.feedback-popup button {
  margin-top: 16px;
  width: 50%;
  background-color: dimgrey;
}

.feedback-2-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.feedback-popup button:hover{
  background-color: #4a4a4a;
}

.feedback-success {
  background-color: #d1fae5;
}

.feedback-success button {
  background-color: #37a820;
}

.feedback-success button:hover {
  background-color: #065f46;
}

.feedback-warning-yellow {
  background-color: #FEF3C7;
}

.feedback-warning-red {
  background-color: #FECACA;
}

.feedback-error {
  background-color: #fee2e2;
}

.feedback-error h4 {
  color: #991b1b;
}

.settings-list-container {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.settings-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.settings-list-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.settings-checkbox {
  margin-right: 20px;
  transform: scale(1.5);
  accent-color: #37a820;
}