@import "../node_modules/tailwindcss";

:root {
  -webkit-touch-callout: none; /* disable iOS callout on long press */
}

canvas,
#root,
body {
  touch-action: none; /* prevent default touch gestures (panning/zoom/selection) */
  -webkit-user-select: none; /* prevent selection on iOS */
  user-select: none;
  -webkit-touch-callout: none;
}

#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'LoResRegular';
  src: url('/public/fonts/LoRes12OT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LoResBold';
  src: url('/public/fonts/LoRes12OT-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.language-switcher > option {
  background: #2222aa;
  color: #fff;
}